.cat-button {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	border: 0;
	border-radius: 4px;
	line-height: 1.25;
	cursor: pointer;
	display: inline-block;

	&[data-variant='primary'] {
		color: white;
		color: var(--cat-btn-color, white);
		// fallback for older browsers
		background-color: #1ea7fd;
		background-color: var(--cat-btn-bg, #1ea7fd);
	}

	&[data-variant='secondary'] {
		color: #333;
		background-color: transparent;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
	}

	&[data-size='small'] {
		font-size: 12px;
		padding: 10px 16px;
	}

	&[data-size='medium'] {
		font-size: 14px;
		padding: 11px 20px;
	}

	&[data-size='large'] {
		font-size: 16px;
		padding: 12px 24px;
	}

	&[data-icon-position='after']::after {
		content: attr(data-icon);
		padding-left: 20px;
	}

	&[data-icon-position='before']::before {
		content: attr(data-icon);
		padding-right: 10px;
	}
}

/* You can add global styles to this file, and also import other style files */

.pct-pin:before {
	content: '📌';
}
