/* You can add global styles to this file, and also import other style files */
.pct-stack:before {
	content: '\ea30';
}

.pct-pin:before {
	content: '\ea31';
}

.pct-unpin:before {
	content: '\ea32';
}

.pct-biset:before {
	content: '\ea33';
}

.pct-triset:before {
	content: '\ea34';
}

.pct-logo-pacto:before {
	content: '\ea35';
}

.pct-viewed:before {
	content: '\ea36';
}

.pct-tray:before {
	content: '\ea37';
}

.pct-morning:before {
	content: '\ea38';
}

.pct-afternoon:before {
	content: '\ea39';
}

.pct-height:before {
	content: '\ea40';
}

.pct-insight:before {
	content: '\ea41';
}

.pct-nutrition:before {
	content: '\ea42';
}

.pct-circularcontroller:before {
	content: '\ea43';
}

.pct-trophy:before {
	content: '\ea44';
}

.pct-weight:before {
	content: '\ea45';
}

.pct-circle-filled:before {
	content: '\ea46';
}

.pct-play-filled:before {
	content: '\ea47';
}

.pct-move-2:before {
	content: '\ea48';
}

.pct-footprint:before {
	content: '\ea49';
}

.pct-gdrive:before {
	content: '\ea50';
}

.pct-google:before {
	content: '\ea51';
}

.pct-gsheets:before {
	content: '\ea52';
}

.pct-ingredients:before {
	content: '\ea53';
}

.pct-trophy-filled:before {
	content: '\ea54';
}

.pct-whatsapp:before {
	content: '\ea55';
}
